

.custom-icon {
	background: none;
	border: none;
  }
  
  .icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .icon-image {
	width: 25px;
	height: 41px;
  }
  
  .icon-label {
	background-color: gray;
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 12px;
	white-space: nowrap;
	margin-top: 2px;
  }